.skill-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.skillcard {
    display: flex;
    flex-direction: column;
    min-height: 8.5rem;
    width: 13rem;
    margin: 0.5rem;
}

.skillCardContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skillLogo {
    flex: 0.8
}

.skillExperience {
    font-style: italic;
    flex: 1.2;
}

.skillExperience p {
    font-size: 0.8rem;

}

.workExperienceHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.workExperienceCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin: 1rem;
    max-width: 25rem;
    min-height: 30rem;
}

.organizationNameImageHolder {
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5px 8px 0 8px;
    align-items: center;
}

.organizationName {
    text-align: center;
    color: #fff;
}

.organizationImage {
    border-radius: 50%;
    border: 1px solid var(--text-color);
}

.positionName {
    font-weight: 700;
    color: var(--text-color);
    padding-bottom: 0;
}

.workTenure {
    font-weight: 700;
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
}

.workDetails {
    padding: 2px !important;
    padding-top: 0;
    padding-bottom: 0;

}

.collegeImage {
    border-radius: 50%;
    padding-top: 0;
    padding-bottom: 0;
}

.projectDetailsHolder {
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.projectName {
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
}

.projectDomain {
    font-size: 0.8rem;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
}

.projectDate {
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
}

.projectRole {
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
}

.projectDesc {
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
}

.projectDescBullet {
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
}