.main {
  min-height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--page-padding);
  padding-top: var(--page-top-padding);
}

.mainContainer {
  flex: 1;
  text-align: center;
}

.imageContainer {
  flex: 1;
  text-align: center;
}

.profileImage {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logoHolder {
  background-color: #fff;
  border-radius: 50%;
  width: 3rem;
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  animation: rotate-animation 5s infinite linear;
  border-radius: 50%;
  padding: 0.3rem;
}

.homeButton {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButton button {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 12px;
  outline: none;
  border: none;
  margin: 12px;
  color: #fff;
}

.NavLink {
  color: var(--primary-color);
  border: 0.1px solid var(--primary-color);
  margin-right: 5px;
  border-radius: 5px;
  padding: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.3rem;
  height: 2rem;

}


.activeNav {
  color: #fff;
  background-color: var(--primary-color);
  margin-right: 5px;
  border-radius: 5px;
  padding: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.3rem;
  font-weight: 600;
  height: 2rem;

}

.navHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}